# Datos externos pesados / descargables
data/external/dem/

# Rasters derivados reproducibles
data/processed/topografia/*.tif

# Datos climáticos externos descargables
data/external/clima/

__pycache__/
*.py[cod]
